--- Deletes sla database elements

--- *********************
--- SQL Script START
--- *********************

DROP TABLE sla.shopping_lists_items_history;

DROP TABLE sla.shopping_lists_items;

DROP TABLE sla.shopping_lists_history;

DROP TABLE sla.shopping_lists;

DROP SCHEMA sla;

DROP DATABASE sla_db;

-- *******************************
-- SQL Script END
-- *******************************